<h2 mat-dialog-title>
  {{ isNew ? 'Nueva Solicitud de Soporte' : 'Detalle de Ticket' }}
</h2>

<mat-dialog-content>
  <form *ngIf="isNew" [formGroup]="newForm" class="pt10">
    <mat-form-field appearance="outline" class="w100">
      <mat-label>Asunto / Equipo</mat-label>
      <input matInput formControlName="asunto" placeholder="Equipo: TV / Laptop / etc">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w100">
      <mat-label>Descripción detalladaaaa</mat-label>
      <textarea matInput formControlName="descripcion" rows="5" 
                placeholder="Falla: no enciende, hace ruido, etc. 
    Teléfono: +58 424 924 6885
    Tipo: DOMICILIO / TIENDA                              
    Ubicación/Dirección: Calle..., Ciudad... (si DOMICILIO) "></textarea>
    </mat-form-field>
  </form>

  <div *ngIf="isView && ticket">
    <div class="row mb8">
      <span class="strong">Estado: </span>
      <span class="status-pill">{{ ticket.estado }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="mt12">
      <p class="strong">Descripción enviada:</p>
      <p class="description-text">{{ ticket.descripcion }}</p>
    </div>
    <div class="mt12 small muted">
      Creado el: {{ ticket.createdAt | date:'medium' }}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close(false)">Cerrar</button>
  <button *ngIf="isNew" 
          mat-flat-button 
          color="primary" 
          (click)="crear()" 
          [disabled]="newForm.invalid || loading()">
    {{ loading() ? 'Enviando...' : 'Enviar Solicitud' }}
  </button>
</mat-dialog-actions>